@charset "utf-8";
/* CSS Document */

body {
    background-color: #C0C0C0;
    color: #000;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;

}

#nagłówek
{
    margin: 0;
    padding: 0;
    color: white;
    height:100px;
    width: auto;
    border: hidden;
    text-align: center;
    background-color: #ff9999;
    font-family: 'Poiret One', cursive;
    background-color: #f95252;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#autor
{
    float:right;
    padding:10px;
    margin:inherit;
}


#tytul
{
    text-align: left;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size:48px;
}


#menu {
    background: #f95252;;
    width:auto;
    height:33px;
    margin-bottom:0px;
    margin-top:-16px;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;

}
#menu ul {
    color:white;
    list-style:none;


}
#menu li {
    float: left;
    padding-top:5px;
    padding-left:150px;
    font-weight: bold;
    font-size: 14px;
    color:white;


}
#menu a {
    display: block;
    line-height: 20px;
    padding: 0 8px;
    color: #fff;
    font-weight: bold;
    color:white;
}
#menu a:hover {
    background: #fff;
    color: #294b9d;


}

#tresc
{
    margin-top: 100px;
    margin-left:500px;
    width:400px;
    height: auto;
    border: hidden;
    color:white;
    font-size:15px;
}

#stworz
{
    color:white;
    text-align:center;
    font-size: 36px;
}

#formularz{

    color:white;
    margin-left:400px;
    margin-right:400px;
}

#udalosie{
    font-size:30px;
    text-align:center;
}
#obrazek{
    float:left;
    height: 100px;
    width: 100px;
}